@model List<AppUser>

<a asp-action="UserInsert" asp-controller="User" asp-area="Admin" class="btn btn-primary mt-5 mb-2">Yeni Kayit</a>

<table class="table table-active">
    <tr>
        <td>Ad</td>
        <td>Soyad</td>
        <td>Email</td>
        <td>Islem</td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>

            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>
                <button asp-action="UserShow" asp-controller="User" asp-area="Admin" asp-route-id="@user.Id" type="button" class="btn  btn-outline-primary btn-sm">Göster</button>
                <button asp-action="UserUpdate" asp-controller="User" asp-area="Admin" asp-route-id="@user.Id" type="button" class="btn btn-outline-success btn-sm">Güncelle</button>
                <button asp-action="UserDelete" asp-controller="User" asp-area="Admin" asp-route-id="@user.Id" type="button" class="btn btn-outline-danger btn-sm">Sil</button>
            </td>
        </tr>
    }
</table>